* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-size: 16px;
    font-family: 'Jost', sans-serif;
    color: #696969;
    background: #fff;
    overflow-x: hidden;
}

/* phần code dùng chung */
.title h2 {
    font-size: 18px;
    color: #F53626;
}

.title h3 {
    font-size: 40px;
    color: #000c04;
    font-weight: 600;
}
title p{
    font-size: 1.2rem;

}

/* Header */

header{
    position: absolute;
    top: 40px;
    left: 0;
    z-index: 1001;
    width: 100%;
    display: fixed;
    background-color: white;
}

.header__content .navbar{
    font-size: 18px;
    
    padding: 15px 0;
    background-color: white;
}
.header__content .navbar>a{
    font-size: 30px;
    font-weight: 700;
    color: #189a46;
}
.header__content .collapse li{
    padding: 0 5px;

}


/* Carousel */
.carousel__content{
    position: relative;
    z-index: 9;
}
.carousel__content .myCarousel::after{
    content: '';
    background-color: rgba(0, 0, 0, 0.691);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    opacity: 0.5;
}
.carousel__content .carousel-item{
    position: relative;
}
.carousel__content .carousel__text{
    position: absolute;
    text-align: left !important;
    /* top: 30%;
    left: 7%; */
    word-wrap: break-word;
    top: 300px;
    left: 0;
    z-index: 100;
    width: 1000px;
    height: 500px;
    text-align: left;
    /* display: flex; */
}
/* .carousel__content .carousel__text2{
    position: absolute;
    top: 30%;
    left: 47%;
    z-index: 100;
    text-align: left;
} */
.carousel__text{
    max-width: 700px;
}
.carousel__content .carousel__text h1{
    font-size: 66px;
    line-height: 76px;
    font-weight: 700;
    color: #fff;
    text-transform: capitalize;
}
.carousel__content .carousel__text h5{
    color: white;
}
.carousel__button-left{
    color: #189a46;
}
.carousel__button button{
    margin: 50px 0;
    padding: 10px 30px;
}

/* About */
.About__content{
    text-align: center;
    padding: 70px 0;
}
/* .About__content .title h3{
    font-size: 46px;
} */
.About__content .title{
    max-width: 700px;
    margin: 0 auto;
}
.About__content .title p{
    word-wrap: break-word;
    font-size: 20px;
    padding: 20px 0;
    position: relative;
}
.About__content .title a{
    font-size: 17px;
    padding: 0;
    border-bottom: 2px solid #189a46;
    color: black;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    border-radius: 0;
    margin-top: 20px;
    display: inline-block;
    text-transform: capitalize;
    text-decoration: none;
}
.About__content .title a:hover{
    color: #189a46;
}
/* Services */
.Services {
    padding: 48px 0;
    background: #f9f7fe;
}

.Services .container {
    padding: 48px 25px;

}

.Services__item {
    padding: 0 15px;
}

.Services__text {
    margin-bottom: 30px;
    padding: 40px 30px;
    background-color: #fff;
    border-radius: 10px;
    transition: all 0.5s;
}

.Services__text i {
    color: #189a46;
    font-size: 30px;
}

.Services__text h2 {
    font-size: 1.5rem;
    color: #000c04;
    padding: 25px 0 7px;
    font-weight: 600;
}

.Services__text h2:hover {
    color: #189a46;
}

.Services__text p {
    font-size: 1.2rem;
    line-height: 28px;
    margin-bottom: 20px;
}

.Services__text a {
    color: #000c04;
    font-size: 17px;
    font-weight: 600;
    border-bottom: solid 2px #189a46;
}

.Services__text a:hover {
    text-decoration: none;
    color: #189a46;
}

.Services__text:hover {
    background-color: rgba(147, 107, 232, 0.05);
}

/* Choose */

.Choose .Choose__content{
    margin: 0 auto;
    padding: 70px 0;
}
.Choose .Choose__content .rounded{
    border-radius: 50%;
}
.Choose__text li{
    list-style: none;
    color: #000c04;
    font-weight: 700;
    padding: 10px;
}
.Choose__text .fa{
    color: #189a46;
    margin-right: 12px;
    background-color: rgba(0, 0, 0, 0.023) ;
    font-size: 10px;
    padding: 8px;
    border-radius: 50%;
    display: inline-block;
}
.Choose__right{
    align-self: center;
}
/* Number */
.Number{
    background-color: #189a46;
}
.Number .num{
    color: white;
    text-align: center;
}
.Number__content p{
    padding: 0 10px;
    font-size: 46px;
    font-weight: 700;
}



/* Plans */
.Plans {
    padding: 72px 0 96px;
    background-color: #f9f7fe;
}

.Plans__title {
    padding-bottom: 48px;
}

.Plans__title h2 {
    font-size: 25px;
    font-weight: 600;
}
.Plans__title h3{
    font-weight: 600;
}

.Plans__content {
    margin: 0 57px;
}

.Plans__item {
    background-color: #fff;
    margin: 50px 0;
    padding: 56px 40px;
    border-radius: 5px;
}

.Plans__item2 {
    margin: 0;
    box-shadow: 10px 10px 30px 0 rgb(17 17 17 / 9%);
}

.Plans__top h5 {
    font-size: 25px;
    color: #000c04;
    font-weight: 600;
}

.Plans__top h4 {
    font-size: 40px;
    color: #189a46;
    font-weight: 600;
    padding: 25px 0;
}

.Plans__top h4 span:first-of-type {
    font-size: 25px;
    vertical-align: super;
}

.Plans__top h4 span:last-of-type {
    font-size: 16px;
    color: #999999;
    font-weight: 400;
}

.Plans__text {
    padding-top: 16px;
}

.Plans__text ul li {
    list-style: none;
    font-size: 18px;
}

.btn-success {
    font-size: 18px;
    padding: 12px 35px;
    border-radius: 10px;
    margin-top: 20px;
}

.Plans__item2 {
    padding: 0;
}

.Plans__item2 .Plans__top {
    background-color: #189a46;
    padding: 48px 40px 8;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.Plans__item2 .Plans__text {
    padding: 32px 40px 90px;
    background-color: #fff;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.Plans__item2 .Plans__top h3 {
    color: #189a46;
    padding: 8px 20px;
    font-size: 15px;
    background-color: #fff;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 30px;
    margin-top: 50px;
}

.Plans__item2 .Plans__top h5 {
    color: #fff;
}

.Plans__item2 .Plans__top h4 {
    color: #fff;
    margin-bottom: 0;
}

.Plans__item2 button:hover {
    background-color: #189a46;
    border-color: #189a46;
}

/* Better */
.Better{
    padding: 96px 0;
}
.Better .container{
    padding: 0 25px;
}
.Better__title p{
    margin-top: 16px;
}
.Better__video img{
    width: 950px;
    height: auto;
    border-radius: 10px;
    margin-top: 48px;
}
.Better__video a{
    left: 0;
    right: 0;
    top: calc(50% - 0px);
}
/* Test */
/* footer */





/* RESPONSIVE */
@media screen and (max-width: 1200px) {
    
}
@media screen and (max-width:991.98px) {
    /* vùng ảnh hưởng <=992px */
    header .navbar{
        /* height: auto; */
        padding:  0;
    }
    header .navbar-toggler{
        background-color: #35a22c;
        color: white;
    }
    header .navbar-toggler-icon{
        color: white;
    }
    .carousel__content .carousel__text h1 {
        font-size: 50px;
        line-height: 55px;
    }
    .carousel__text .ml-lg-auto {
        margin-left: auto;
    }
    /* ABOUT */
    
    .About__content .title h3{
        font-size: 36px;
    } 
    /* CHOOSE */
    .Choose__content img{
        width: 100%;
    }
    /* NUMBER */
    .Number__content p{
        font-size: 40px;
    }
}
@media screen and (max-width:768px) {
    .carousel__content .carousel__text h1 {
        font-size: 46px;
        line-height: 50px;
    }
}
@media screen and (max-width: 576px) {
    .carousel__content .carousel__text h1 {
        font-size: 42px;
        line-height: 45px;
    }
    .Number__content p{
        font-size: 35px;
    }
    .Number__content h4{
        font-size: 17px;
    }
}